doctype html
html
  head
    meta(charset='utf-8')
<<<<<<< HEAD
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title permainan logo quiz dan tebak kata
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section.aaa(<div='')
        | Tebak logo dan kata
      section
        .aaa
          | Nama Anggota Kelompok:
          br
          br
          | 		1. aldo fernando
          br
          | 		2. angsono putra
          br
          | 		3. hendry
          br
          | 		4. franjaya
          br
          | 		5.agus rianto
      section
        .aaa
          | tebak kata ada 1 soal yang sangat sulit ditebak.
          br
          | 		tebak logo ini memiliki 20 soal
          a(href='cover.html') play game
      section
        .aaa
          | cara maen : anda cukup menebak dan menjawab dan juga mengisi huruf yang disediakan di masing-masing kotak.
      section
        .aaa
          | terima kasih atas perhatian
      section
        .bbb
          | SEKIAN DAN TERIMA KASIH ^^
    script(src='build/build.js')
=======
<<<<<<< HEAD
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tebak Gambar

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Tebak Gambar

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
=======
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |     
    title permainan logo quiz dan tebak gambar dan tebak kata
    |     
    link(rel='stylesheet', type='text/css', href='build/build.css')
  |   
  body
    article
      section
        h3 1.angsono putra(14.111.0108)
        |         
        h3 2.agus rianto(14.111.0973)
        |         
        h3 3.aldo fernando(14.111.1162)
        |         
        h3 4.hendry(14.111.0698)
        |         
        h3 5.franjaya(14.111.0141)
      |       
      section
        h2
          a(href='../level 1/web/cover.html') play game
      |       
      section
        h3 petunjuk:
        |         
        h3 1.tebak gambar tersebut lalu tulis huruf di masing-masing kotak
        |         
        h3 2.jika mau mengecek benar atau salah,anda tinggal menekan tombol check
        |         
        h3
          | 3.ada 3 hint ,hint yang pertama,anda akan diberikan 1 huruf dan akan beresiko
          | nyawa berkurang 1.Hint kedua ,anda akan diberikan 2 huruf dan akan beresiko nyawa
          | berkurang 2.hint ketiga ,anda akan diberikan 3 huruf dan setelah jawaban nya
          | dikasi tau,game over
    |     
    script(src='build/build.js')
>>>>>>> 06391d68e887adc13691f5bf5dc3989dd454d619
>>>>>>> b5fe738195d8bb2c91850401e3e32421d0ab43ee
