doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |     
    title permainan logo quiz dan tebak gambar dan tebak kata
    |     
    link(rel='stylesheet', type='text/css', href='build/build.css')
  |   
  body
    article
      section
        h3 1.angsono putra(14.111.0108)
        |         
        h3 2.agus rianto(14.111.0973)
        |         
        h3 3.aldo fernando(14.111.1162)
        |         
        h3 4.hendry(14.111.0698)
        |         
        h3 5.franjaya(14.111.0141)
      |       
      section
        h2
          a(href='../level 1/web/cover.html') play game
      |       
      section
        h3 petunjuk:
        |         
        h3 1.tebak gambar tersebut lalu tulis huruf di masing-masing kotak
        |         
        h3 2.jika mau mengecek benar atau salah,anda tinggal menekan tombol check
        |         
        h3
          | 3.ada 3 hint ,hint yang pertama,anda akan diberikan 1 huruf dan akan beresiko
          | nyawa berkurang 1.Hint kedua ,anda akan diberikan 2 huruf dan akan beresiko nyawa
          | berkurang 2.hint ketiga ,anda akan diberikan 3 huruf dan setelah jawaban nya
          | dikasi tau,game over
    |     
    script(src='build/build.js')
