doctype html
html
  title permainan logo quiz
  |   
  head
    style(type='text/css').
      .hi{
      margin-left:-55px;
      }
      .gu{
      margin-left:-25px;
      }
      .ko{
      margin-left:-5px;
      }
      .ke{
      margin-left:-75px;
      }
      .po{
      font-size:100;
      font-family:calibri;
      }
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" type="text/css" href="build/build.css">
  |   
  body
    article
      section
        h3 nama anggota:
        | &#x9;&#x9;
        h3 1.angsono putra(14.111.0108)
        | &#x9;
        h3.ko 2.aldo fernando(14.111.1162)
        | &#x9;
        h3.ke 3.hendry(14.111.0698)
        | &#x9;&#x9;
        h3.gu 4.agus rianto(14.111.0973)
        | &#x9;&#x9;
        h3.hi 5.franjaya(14.111.0141)
      |       
      section
        h1.po
          a(href='../level 1/web/cover.html') play game
      |       
      section
        h3 Cara maen:
        | &#x9;&#x9;
        h3 1.isi huruf di masing-masing kotak yang telah diberikan
        | &#x9;&#x9;
        h3 2.jika anda tidak ada tau apa huruf yang akan diisi
        | &#x9;&#x9;
        h3 disamping gambar ada diberikan 3 hint
        | &#x9;&#x9;
        h3 hint tersebut ada tiga kategori
        | &#x9;&#x9;
        h3 hint 1,1 nyawa hilang,hint 2,2 nyawa hilang,hint 3,3 nyawa hilang dan game over 
    |     
    script(src='build/build.js')
