doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title permainan logo quiz dan tebak kata
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    article
      section.aaa(<div='')
        | Tebak logo dan kata
      section
        .aaa
          | Nama Anggota Kelompok:
          br
          br
          | 		1. aldo fernando
          br
          | 		2. angsono putra
          br
          | 		3. hendry
          br
          | 		4. franjaya
          br
          | 		5.agus rianto
      section
        .aaa
          | tebak kata ada 1 soal yang sangat sulit ditebak.
          br
          | 		tebak logo ini memiliki 20 soal
          a(href='cover.html') play game
      section
        .aaa
          | cara maen : anda cukup menebak dan menjawab dan juga mengisi huruf yang disediakan di masing-masing kotak.
      section
        .aaa
          | selanjutnya anda akan diberi 3 hint ,hint pertama anda akan diberikan 1 huruf,1 nyawa hilang dan hint kedua 2 huruf akan diberikan,2 nyawa hilang,hint 3 ,huruf akan diberi semuanya ,game over,setelah itu anda akan ulang dari stage pertama
      section
        .bbb
          | terima kasih atas perhatiannya
    script(src='build/build.js')
